# 1. Python Virtual Environment
venv/
env/

# 2. Python Cache & Compiled Files
__pycache__/
*.pyc
*.pyo
*.pyd

# 3. Jupyter Notebooks
.ipynb_checkpoints/

# 4. Environment Variables & Secrets (CRITICAL)
.env
.env.local
.secret

# 5. PyCharm / VS Code IDE Settings
.idea/
.vscode/

# 6. OS System Files
.DS_Store
Thumbs.db

# 7. Data Files & Logs
*.csv
*.zip
*.log

# NOTE: We are intentionally allowing lightgbm_fraud_model.pkl
# to pass through because Render needs our 31KB model to run the API!